<link rel="stylesheet" href="/styles/table.css">

<style>
DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
    height: 10px;
}
DIV.tr-main
{
 background: white;
 color: black;
}
button {
    height: 30px
}
SPAN.td-fixed {
    background: white;
    color: black
}

</style>


<div class="container text-center">
    <div class="row text-center">
        <div class="col">

            <button id="managerBtn" type="button" class="btn btn-primary">Return</button>
        </div>
        {{!-- <div class="col">
                <button id="foremanBtn" type="button" class="btn">Foreman</button>
            </div> --}}
    </div>
    <!-- Table to Display All Job Info -->
    {{!-- <div class="row">
        <div class="col" id="tableBody">
            <div class="table" id="jobSiteTable1">
                <h1>All Listed Jobs</h1>
                <table class="table table-responsive" id="jobSiteTable2">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Supervisor</th>
                            <th>Job Site</th>
                            <th>Project Bid</th>
                            <th>Project Name</th>
                            <th>Hours</th>
                            <th>Workers</th>
                            <th>Wages Paid</th>
                            <th>Material Costs</th>
                            <th>Job Profits</th>
                            <th>Job Comments</th>
                            <th>Job Created</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each projects}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{supervisor_id}}</td>
                            <td>{{jobsite_id}}</td>
                            <td>${{project_bid}}</td>
                            <td>{{project_name}}</td>
                            <td>{{hours}}</td>
                            <td>{{workers}}</td>
                            <td>${{wagecosts}}</td>
                            <td>${{materialcosts}}</td>
                            <td>${{profit}}</td>
                            <td>{{jobcomments}}</td>
                            <td>{{createdAt}}</td>
                            <td>{{updatedAt}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div> --}}
    {{!-- <div class="row">
        <div class="col"> --}}
            <div class="table">
                <div class="tr tr-main">
                    <div class="td">"ID"</div>
                    <span class="td">"Project Name"</span>
                    <span class="td">"Project Bid"</span>
                    <span class="td">"Hours"</span>
                    <span class="td">"Wage Costs"</span>
                    <span class="td">"Material Costs"</span>
                    <span class="td">"Profits"</span>
                </div>
                
                {{#each projects}}
                <form class="tr edit-table">
                    <span class="td td-fixed">{{id}}</span>
                    <span class="td"><input type="text" class="project_name-{{id}}" value="{{project_name}}"></span>
                    <span class="td"><input type="text" class="project_bid-{{id}}" value="{{project_bid}}"></span>
                    <span class="td"><input type="text" class="hours-{{id}}" value="{{hours}}"></span>
                    <span class="td"><input type="text" class="wagecosts-{{id}}" value="{{wagecosts}}"></span>
                    <span class="td"><input type="text" class="materialcosts-{{id}}" value="{{materialcosts}}"></span>
                    <span class="td td-fixed">{{profit}}</span>
                    <button type="submit" class="edit-button" value="{{id}}">Submit</button>
                </form>
                {{/each}}
                
            </div>
        {{!-- </div>
    </div> --}}

</div>